/* ROOTS */
:root{
    /* colors */
    --primary-color: #282828;
    --second-color: #141922;
    --third--color: #000000;
    --text-icon-color: white;
    /* dimension */
    --play-bar-height: 100px;
    --option-width-initial: 150px;
    --upgrade-height: 80px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--second-color);
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

a{
    color: inherit;
    text-decoration: none;
}

/* UTILITY */

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* DEBUG */

.debug{
    border: 1px dashed red;
    padding: 5px;
}

/* MAIN */
#main{
    display: flex;
}

/* div upgrade */
#upgrade{
    height: var(--upgrade-height);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: end;
    position: sticky;
    top: 0;
}

#upgrade button{
    padding: 10px 35px;
    background-color: inherit;
    color: white;
    border-radius: 25px;
    border-color: white;
    margin: 20px;
}

/* section playlist */
#playlist{
    height: calc(100vh - var(--play-bar-height));
    flex-grow: 1;
    color: var(--text-icon-color);
    overflow: auto;
}

.popular-artist{
    border-radius: 50%;
}


.list-playlist{
    margin-bottom: 1rem;
}

span{
    font-size: x-small;
}

#playlist h3,
span{
    padding: 5px 1rem;
}

.playlist-element{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.playlist-element figure{
    width: calc(50% - 10px);
    margin: 10px auto;
    text-align: center;
}

#playlist li{
    padding: 10px;
    opacity: 0.5;
}

#playlist li:hover{
    opacity: 1;
}

#playlist ul{
    text-align: center;
}

/* section option */

#option{
    width: var(--option-width-initial) ;
    padding: 5px;
    background-color: var(--third--color);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.logo-big{
    display: none;
}

.logo-optn{
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-top: 10px;
}

.selection-opt{
    display: none;
}

.profile{
    border-radius: 50%;
    background-color: darkgray;
}

.library{
    display: none;
    color: var(--text-icon-color);
    line-height: 2;    
}

/* bottom elements */
.bottom-option{
    margin-top: auto;
}

/* FOOTER */
#play-bar{
    height: var(--play-bar-height);
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    position: sticky;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--text-icon-color);
}

.song{
    display: flex;
}

.play-on{
    width: 50px;
}

.song .wish-folder{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#play-bar span{
    padding: 0;
}

#play-bar .progress-play i{
    padding: 0 5px;
}

.volume{
    display: flex;
}

.volume .progress-bar{
    width: 50px;
    margin: auto;
}

#play-bar .volume i{
    padding: 0 5px;
}

.progress-bar{
    width: 100%;
    margin-top: 1rem;
    padding: 2px;
    background-color: lightgray;
}

  /* ********** */
 /* RESPONSIVE */
/* ********** */
@media all and (min-width: 576px) {
    :root{
        --option-width-initial: 550px;
    }

    a{
        font-size: smaller;
        opacity: 0.5;
    }

    a:hover{
        opacity: 1;
    };

    /* playlist div */
    #playlist ul{
        padding: 0 25px;
        margin: auto;
    }
    
    /* option bar */
    .logo-optn{
        width: 50%;
        padding: 10px 10px 0 10px;
    }

    .selection-opt{
        display: block;
        width: 100%;
        color: var(--text-icon-color);
    }
    
    .logo-optn img{
        width: 50%;
    }

    .library{
        display: block;
        width: 100%;
    }

    .library li{
        display: block;
        font-size: small;
    }
    
    .l-big{
        width: 100%;
        padding: 0 5px;
    }

    .logo-big{
        display: block;
        min-width: 100%;
    }

    .logo-small{
        display: none;
    }

    /* bottom elements */
    .bottom-option{
        border-bottom: 2px solid lightgray;
    }
}
/* RESPONSIVE MD */
@media all and (min-width: 768px) {
    .playlist-element figure {
        width: calc(100% / 4 - 10px);
        margin: 20px 5px;
        text-align: center;
    }
}

/* RESPONSIVE LG */
@media all and (min-width: 992px) {
    .playlist-element figure {
        width: calc(100% / 6 - 10px);
        margin: 20px 5px;
        text-align: center;
    }

    .logo-optn img {
        width: 30%;
    }

    .l-big{
        width: 50%;
    }
}